@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

#formheader {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;  
    height: 100%;
}

/* Main body element for the form */
.container {
    align-items: center;
    min-width: 360px;
    max-width: 100%;
    height: 650px;
    margin: 5%;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border: 2px solid #333;
}

h3{
    text-align: center;
    margin-bottom: 40px;
    color: rgb(39, 39, 39);
}

h2{
    text-align: center;
    margin-bottom: 40px;
    color: rgb(39, 39, 39);
}

.container form{
    width: 280px;
    position: absolute;
    top: 82px;
    left: 40px;
    transition: 0.5s;
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
    margin-bottom: 2px;
}

.form-control input{
    width: 100%;
    padding: 8px 5px;
    margin: 5px 0;
    display: block;
    font-family: inherit;
    font-size: 14px;
    color: rgb(82, 82, 82); 
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

/* Border styling for valid/invalid fields */
.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

/* Success and error icons */
.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

/* Error Message */
.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.btn-box{
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

form button{
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: #af8272;
    border-radius: 30px;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;

}

select {
    margin-top: 10px;
    display: inline;
    width: 100%;
    background-color: #eee;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
    font-size: 14px;


    /* Disable the default dropdown arrows */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

}

/* Form 2 and form 3 are positioned out of view like a html/css slideshow */
#form2 {
    left: 450px;
}

#form3 {
    left: 450px;
}

/* Top row for the progress bar */
.step-row{
    width: 360px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
    position: relative;
}

/* Each column for the progress bar is 1/3 width because there is 3 steps */
.step-col{
    width: 120px;
    text-align: center;
    color: #fff;
    position: relative;
}

/* Width will increase to cover each successive step in js script */
#progressbar{
    position: absolute;
    height: 100%;
    width: 120px;
    background: linear-gradient(to right, #1E9AFE, #60DFCD);
    transition: 0.5s;
}

/* Make a triangle in css by creating a box
   Reduce the box width and height to 0 so only the borders remain
   Then make all of the borders except on the right transparent */

#progressbar::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #60DFCD;
}

.container a{
    font-family: inherit;
    color: #333;
    font-size: 8px;
    max-width: 100%;
    margin-top: 20px;
}

#footer {
    position: relative;
    bottom: 0;
}